:root {
    --font-principal:"Poppins", system-ui; ;
}

body{
    max-width: 100%;
    height: 100vh;
    font-family: var(--font-principal);
}

.container-principal{
    display: flex;
}

.container-img{
    width: 100%;
    height: 100vh;
}

.img-de-fundo{
    height: 100vh;
}

.container-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: aqua;
}

.div-container-login{
    margin-left: 10rem;
    margin-top: 25vh;
}

.div-empresa{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.icone{
    color: white;
    margin-right: 1rem;
    font-size: 3rem;
}
.titulo-empresa {
    font-size: 1.5rem;
}


.titulo-login{
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.div-formulario{
    margin-top:1.8rem;
    display: flex;
    flex-direction: column;
}

.email, .password{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.6rem;
}


label{
    font-size: .8rem;
}

.input-form{
    display: block;
    width:18.5vw;
    padding: 0.7rem;
    border-radius: 6px;
    border: 1px solid #c2c1c1;
}

.remember {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    display: flex;
    gap: 10px;
}

.remember label{
    font-size: .7rem;
}

.esqueceu-senha{
    text-decoration: none;
    font-size: .7rem;
    margin-left: 1.5rem;
    color:#4BA1FF;
}

.esqueceu-senha:hover, .criar-conta a:hover{
    color: black;
    border-bottom: 1px solid #000;
}

.div-botoes{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 8vh;
}

.btn, .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    padding: .8rem;
    border-radius: 6px;
    border: none;
    background-color: #007AFF;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.btn-google{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    font-size: .9rem;
    padding: 0.9rem;
    gap: 10px;
    font-weight: 400;
}

.btn:hover {
    background-color: transparent;
    color: #007AFF;
    border: 1px solid #007AFF;
}

.btn-google:hover {
    background-color: transparent;
    color: #333333;
    border: 1px solid #333333;
}

.icone-google {
    font-size: 18px;
}

.criar-conta{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.criar-conta h3{
    font-size: .7rem;
}

.criar-conta a{
    text-decoration: none;
    font-size: .8rem;
    color: #4BA1FF;
}